.sc{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

li{
    list-style-type: none;
    text-align: end;
}

button{
    background-color: transparent;
    outline: none;
    border: none;
}

.btn img:active{
    width: 90px;
}

.btn img{
    width: 100px;
    cursor: pointer;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}